<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Squarebean</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "modernizr" %>
  <%= csrf_meta_tags %>
  <%= typekit_include_tag "bgp8yeg" %>
</head>
<body>

  <%= yield %>
  <%= javascript_include_tag "application" %>

</body>
</html>
